/.venv
/.vscode
/00_installation
/01_Getting_Started_with_Images
/02_Basic_Image_Manipulation
/03_Image_Annotation
/04_Image_Enhancement
/05_Accessing_the_Camera
/06_Video_Writing
/07_Image_Filtering_Edge_Detection
/08_Image_Fetaures_and_Alignment
/09_Panorama
/10_HDR
/11_Object_Tracking
/12_Face_Detection
/13_Object_Detection
/14_Pose_Estimation_using_Openpose
/automation_extension.zip
/node_modules
/package-lock.json
/package.json